---
export function getStaticPaths() {
  return [
    { params: { slug: 'webdev' }, props: { tallyUrl: 'https://tally.so/r/dWAxqA?formEventsForwarding=1' } },
    { params: { slug: 'cmo' }, props: { tallyUrl: 'https://tally.so/r/Ek1P2o' } },
  ];
}

const { tallyUrl } = Astro.props;
---
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Qualification Form</title>
    <script is:inline async src="https://tally.so/widgets/embed.js"></script>
    <style type="text/css">
      html { margin: 0; height: 100%; overflow: hidden; }
      iframe { position: absolute; top: 0; right: 0; bottom: 0; left: 0; border: 0; }
    </style>
  </head>
  <body>
    <iframe data-tally-src={tallyUrl} width="100%" height="100%" title="Qualification Form" class="border-0 m-0"></iframe>
  </body>
</html>